rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /{allPaths=**} {
      // 내 UID만 허용 (아래 'YOUR_UID_HERE'를 본인 UID로 변경)
      allow read, write: if request.auth != null && request.auth.uid == 'd9d4sZ5f7bOwKW3xiqukFGrQgep2';
    }
  }
}